/*Fonts*/
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Yantramanav&display=swap');
/*Universal styles*/

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

span,
p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 18px;
}


.bold {
    font-weight: bold;
}

/*Navigation Bar*/

.navbar {
    margin-bottom: 0;
}

#navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;
}

#navbar-primary .navbar-nav > li {
    display: inline-block;
    float: none;
}

#navbar-primary .navbar-nav > li > a {
    color: #feaa00;
    padding-left: 30px;
    padding-right: 30px;
}

.login-drop.dropdown-menu {
    text-align: center;
    min-width: 200px;
    padding: 10px;
    border: solid 1px #feaa00;
    border-radius: 10px !important;
    -webkit-box-shadow: 10px 10px 15px -8px rgba(254, 170, 0, 0.42);
    -moz-box-shadow: 10px 10px 15px -8px rgba(254, 170, 0, 0.42);
    box-shadow: 10px 10px 15px -8px rgba(254, 170, 0, 0.42);
    /*Uses rgba as opacity needs to be set, which hex does not support*/
}

.login-drop.dropdown-menu h3 {
    margin: 0;
    /*Default header has margins, which are not needed*/
}

.login-drop.dropdown-menu input {
    /*Style the fields to suite dropdown theme*/
    text-align: center;
    margin: 10px 0;
    background-color: white;
    display: block;
    color: #feaa00;
}

.login-drop.dropdown-menu .btn {
    background-color: #feaa00;
    color: white;
}

/*Hero slider*/

.hero {
    max-width: 1920px;
    position: relative;
}

.hero .prev,
.hero .next {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
}

.hero .prev {
    left: 0;
}

.hero .next {
    right: 0;
}

.hero .prev .arrow-left {
    height: 20px;
    /*Make div into small box*/
    width: 20px;
    border-top: 5px solid #fff;
    /*Make a white corner*/
    border-right: 5px solid #fff;
    position: absolute;
    /*Place the arrow in correct position*/
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-20%, -50%) rotate(225deg);
    -ms-transform: translate(-20%, -50%) rotate(225deg);
    -o-transform: translate(-20%, -50%) rotate(225deg);
    transform: translate(-20%, -50%) rotate(225deg);
    /* Rotate div to create an arrow and move back into place*/
}

.hero .next .arrow-right {
    height: 20px;
    width: 20px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-70%, -50%) rotate(45deg);
    -ms-transform: translate(-70%, -50%) rotate(45deg);
    -o-transform: translate(-70%, -50%) rotate(45deg);
    transform: translate(-70%, -50%) rotate(45deg);
}

.hero ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 800px;
    max-width: 100%;
}

.hero li {
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.6s ease-in-out;
}

.hero li.visible {
    opacity: 1;
    transition: 0.6s ease-in-out;
}

.hero li .header {
    z-index: 10;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 45px;
}

.hero li img {
    display: block;
    width: 100vw;
    height: 100%;
}

/*Login and Registration Form*/

.registration label, .login label {
    display: block;
    width: 100%;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0 0 15px 0;
}

.registration label input, .login label input {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    color: black;
}

.registration label input::placeholder, .login label input::placeholder {
    color: grey;
    font-size: 15px;
}

.passwordstrength {
    margin-top: 15px;
}

.registration button, .login button {
    margin: 15px 0 15px 0;
    width: 100%;
}

.registration h1, .login h1 {
    text-align: center;
}

.passwordstrength span {
    display: inline-block;
    font-size: 15px;
}

.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.error {
    font-size: 15px;
    color: red;
}

.login input[type=password] {
    margin-bottom: 25px;
}

/*Style for events*/
.date {
    width: 100%;
    margin: 10px;
}

.descriptor {
    font-weight: bold;
    display: inline-block;
    margin: 20px;
}

.create {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.create input {
    margin-top: 10px;
}



.event-thumb {
    /*Thumbnail events*/
    text-align: center;
}

.event-thumb a {
    text-decoration: none;
    text-underline: none;
    color: black;
}

.event-thumb img {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    height: 200px;
    /*Make image fit thumb box*/
}

.address {
    text-align: center;
}

.address .bold {
    display: block;
}

.dashboard {
    margin: 25px 0 50px 0;
    text-align: center;
}

.counter {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: orange;
}

.locator, #location {
    margin-bottom: 50px;
}

.views {
    margin-top: 15px;
}

#views {
    display: block;
    font-size: 28px;
}

#icons {
    margin-top: 10px;
}

#address span {
    display: block;
}

#like, #dislike {
    text-decoration: none;
}

#address {
    margin-top: 10px;
}

#address .first {
    font-weight: bold;
}

.create p {
    font-weight: bold;
}

.img-cont {
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;

}

.image-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.event-image {
    display: inline-block;
    height: 300px;
    position: relative;
    margin: 15px;
}

.event-image a {
    cursor: pointer;

}

#event-content {
    margin-top: 15px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

#event_form, #not_logged_in, .logged_in, .not_logged_in {
    visibility: hidden;
}

#event_form {
    margin-top: 50px;
    width: 75%;
    margin-left: 12.5%;
}

.event-image img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    width: 400px; /* Set a small width */
    height: 100%;
}

/* Add a hover effect (blue shadow) */
.event-image img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.content-el {
    transition: 3s;

}

.content {
    display: inline-block;
    width: 75%;
    margin: auto auto auto 100px;

}


.getcontent {
    white-space: pre;
    width: 90vw;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    padding: 1rem;
    display: none;
    margin-top: 1rem;
    box-shadow: .1rem .1rem .5rem rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.toolbox {
    text-align: center;
    margin: 20px;
    padding: 30px;
}

.toolbox span {
    display: inline-block;
}


#selectImage input[type=file] {
    visibility: hidden;
}

.progress { /*Hide upload percentage container*/
    margin-top: 10px;
    display: none;
}

.file-upload {
    display: block;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    height: 100px;
    padding: 10px 5px;
    background-color: rgba(192, 192, 192, 0.5); /*Set background colour as light grey, transparency of 0.5*/
    border-radius: 10px; /*Make edges of label rounded*/
}

.file-upload:hover {
    cursor: pointer; /*Make label appear selectable when hovered over*/
    background-color: rgba(192, 192, 192, 0.7); /*Make background darker when hovered over*/
}

.file-upload i { /*Make upload icon larger*/
    display: block;
    font-size: 40px;
}

.file-upload input {
    display: none; /*Hide file input button so that other styles appear properly*/
}

.files {
    text-align: center;
}

.uploader {
    display: block;
    font-weight: bold;
    background-color: white;
}

.submit {
    margin: 10px;
}

.img-thumb {
    display: inline-block;
    margin: 10px;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.img-thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.single-event {
    text-align: center;
}

/*Modal and content*/

.modal {
    text-align: center;
    display: none; /*Modal is initially not to be displayed*/
    z-index: 2; /*Make modal appear in front of all other content*/
    width: 100%; /*Make modal full screen*/
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /*Make modal appear that it dims out all other content*/
}

.modal .close {
    z-index: 2;
    color: white;
    font-size: 30px;
    margin: 20px;
    position: absolute; /*Position close button to top right of screen*/
    top: 0;
    right: 0
}

.modal img {
    position: relative;
    max-width: 100%; /*Make sure image doesn't overflow screen*/
    max-height: 100%;
}


#occurrence {
    text-align: center;
}

.occurrence-section {
    font-size: 15px !important;
}

.occurrence-section span {
    font-weight: bold;
}

/*Image selection styles*/

.img-thumb label:before {
    background-color: rgba(0, 0, 0, 0.3);
    content: url("/images/unchecked.png");
    position: absolute;
    left: 0;
    height: 200px;
    z-index: 3;
}

.img-thumb :checked + label:before {
    content: url("/images/checked.png");
}

.img-thumb input[type=checkbox] {
    display: none;
}

.center {
    text-align: center;
}

.create-title {
    text-decoration: underline;
}

/* Graph styles */
.block_column {
    display: inline-block;
    width: 40px;
    height: 20px;
}

#event_titles {
    font-size: 15px;
    margin-bottom: auto;
    list-style: none;
}

#event_titles li {
    margin: 10px;
    height: 30px;

}

#event_title li .text {
    margin-bottom: 90px;
    height: 100%;
}

.charts h3 {
    text-align: center;
}

/** Filter styles **/
.filter label {
    display: block;
    font-weight: normal;
}

#events, .event-thumb {
    transition: 2s ease;
}


ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid orange;
    background-color: orange;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 2px solid orange;
}

.animate p, .animate span, .animate h3 {
    display: none;
}

.animate {
    width: 0;
    height: 0;
    transition: height, width 0.8s;
}

.panel a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.search ::placeholder, .postcode ::placeholder {
    font-size: 14px;
}

.postcode input[type=text], .search input {
    margin: 20px 0;
}

#filter .col-md-3 {
    height: 170px;
    border-right: rgba(0, 0, 0, .05) 2px solid;
}

.tools {
    border: 2px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

#clear {
    text-align: center;
    margin: 10px;
}

.hidden {
    display: none;
}

.wrong {
    color: red;
}

.correct {
    color: green;
}

.CodeMirror {
    height: 300px !important;
}

.usercontent {
    margin-top: 100px;
}


.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    left: 46%;
    padding: 7px 0 0 13px;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 20px;
    color: orange;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

#event_title {
    text-align: center;
}

#event_title input {
    text-align: center;
    font-size: 20px;
    height: 50px;
    border: none;
    border-bottom: grey solid 1px;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 10px;
}

#event_form .form-element {
    display: none; /*Set all form section to not display*/
}

#event_form .form-element:target {
    display: block !important; /*Make form section visible if it's anchor is called*/
}

#Invisible {
    display: none;
}

#location label {
    display: block;
}


