/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Yantramanav&display=swap');
/*Universal styles*/
body {
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

span, p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 18px;
}

/*Navigation Bar*/
.navbar {
    margin-bottom: 0;
}

#navbar-primary .navbar-nav {
    width: 100%;
    text-align: center;
}

#navbar-primary .navbar-nav > li {
    display: inline-block;
    float: none;
}

#navbar-primary .navbar-nav > li > a {
    color: #feaa00;
    padding-left: 30px;
    padding-right: 30px;
}

.dropdown-menu {
    text-align: center;
    min-width: 200px;
    padding: 10px;
    border: solid 1px #feaa00;
    border-radius: 10px !important;
    -webkit-box-shadow: 10px 10px 15px -8px rgba(254, 170, 0, 0.42);
    -moz-box-shadow: 10px 10px 15px -8px rgba(254, 170, 0, 0.42);
    box-shadow: 10px 10px 15px -8px rgba(254, 170, 0, 0.42); /*Uses rgba as opacity needs to be set, which hex does not support*/
}

.dropdown-menu h3 {
    margin: 0; /*Default header has margins, which are not needed*/
}

.dropdown-menu input { /*Style the fields to suite dropdown theme*/
    text-align: center;
    margin: 10px 0;
    background-color: white;
    display: block;
    color: #feaa00;
}

.dropdown-menu .btn {
    background-color: #feaa00;
    color: white;
}

/*Hero slider*/

.hero {
    max-width: 1920px;
    position: relative;
}

.hero .prev,
.hero .next {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
}

.hero .prev {
    left: 0;
}

.hero .next {
    right: 0;
}

.hero .prev .arrow-left {
    height: 20px; /*Make div into small box*/
    width: 20px;
    border-top: 5px solid #fff; /*Make a white corner*/
    border-right: 5px solid #fff;
    position: absolute; /*Place the arrow in correct position*/
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-20%, -50%) rotate(225deg);
    -ms-transform: translate(-20%, -50%) rotate(225deg);
    -o-transform: translate(-20%, -50%) rotate(225deg);
    transform: translate(-20%, -50%) rotate(225deg); /* Rotate div to create an arrow and move back into place*/
}


.hero .next .arrow-right {
    height: 20px;
    width: 20px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-70%, -50%) rotate(45deg);
    -ms-transform: translate(-70%, -50%) rotate(45deg);
    -o-transform: translate(-70%, -50%) rotate(45deg);
    transform: translate(-70%, -50%) rotate(45deg);
}

.hero ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 800px;
    max-width: 100%;
}

.hero li {
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.6s ease-in-out;
}

.hero li.visible {
    opacity: 1;
    transition: 0.6s ease-in-out;
}

.hero li .header {
    z-index: 10;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 45px;
}

.hero li img {
    display: block;
    width: 100vw;
    height: 100%;
}

/*Login and Registration Form*/

.reg, .login {
    max-width: 20%;
    position: absolute;
    top: 5%;
    left: 40%;
}

.login input[type="text"], .login input[type="password"], .reg input[type="text"], .reg input[type="password"] {
    text-align: center;
    width: 350px;
    padding: 20px 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: #6D7781;
    font-size: 14px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active { /* Change Autocomplete styles in Chrome*/
    transition: background-color 5000s ease-in-out 0s;
}

.login input[type=checkbox], .reg input[type=checkbox] {
    display: none;
}

.reg label, .login label {
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #435160;
}

#agree:checked ~ label[for=agree] {
    background: #435160;
}

.reg input[type="submit"], .login input[type="submit"] {
    background: #1FCE6D;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.login input[type="submit"]:hover, .reg input[type="submit"]:hover {
    background: #16aa56;
    animation-name: shake;
}

.reg .forgot, .login .forgot {
    margin-top: 30px;
    display: block;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.reg .forgot:hover, .login .forgot:hover {
    margin-top: 30px;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #feaa00;
}

.reg .agree, .login .agree {
    padding: 30px 0;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
}

::-webkit-input-placeholder {
    color: #435160;
    font-size: 18px;
}

#otherLogin input {
    color: white;
    font-size: 20px;
}

.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.error {
    font-size: 15px;
    color: red;
}

.login input[type=password] {
    margin-bottom: 25px;
}

.manage {
    text-align: center;
}

/*Style for events*/
.create {
    text-align: center;
}

.events h1 {
    margin: 40px;

}

.event-thumb { /*Thumbnail events*/
    text-align: center;
}

.event-thumb img {
    width: 100%; /*Make image fit thumb box*/
}

.content {
    display: inline-block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

.content input {
    height: 50px;
    margin: 10px 0;
}

.toolbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 40px));
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    grid-gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.tool-items {
    background-color: rgb(27, 26, 26);
    padding-top: .6rem;
    padding-bottom: .6rem;
    cursor: pointer;
    color: #ffff;
}

.tool-items:hover {
    box-shadow: none;
    background-color: #6b5e5e;

}

.editor {
    width: 70vw;
    height: 50vh;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    box-shadow: 0 .1rem .4rem black;
    border: 1px solid black;
    overflow-y: auto;
}

.getcontent {
    white-space: pre;
    width: 90vw;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    padding: 1rem;
    display: none;
    margin-top: 1rem;
    box-shadow: .1rem .1rem .5rem rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}


.toolbox {
    text-align: center;
    width: 250px;
    float: left;
    margin: 20px;
    padding: 30px;
    border: dotted orange 7px;
}

.toolbox span {
    display: inline-block;
}

.toolbox button {
    display: block;
    margin: 5px;
}

.image-upload {
    border: dashed 3px orange;
    padding:5px;
}

.img-thumb {
    margin:10px;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    cursor:pointer;
}

.img-thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*Modal and content*/
.modal {
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal .close {
    z-index: 2;
    position: absolute;
    color: white;
    font-size:30px;
    margin: 20px;
    top: 0;
    right: 0
}
.modal img{
    max-width:100%;
    max-height:100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}